*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(bckgrnd.jpg);
    background-size: cover;
}


.logincontainer{
    width: 450px;
    height: 550px;
    margin-left: 35%;
    margin-top: 5%;
    background: rgba(0,0,0,0.8);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -115px;
    left: calc(50% - 80px);

}

.logincontainer .login{
    position: relative;
    left: 5%;
    top: 25%;
}

.logincontainer .login h1 {
    color: white;
    margin-left: 20%;
}
.logincontainer .login input{
    display: block;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
}

.logincontainer .login button{
    padding: 15px;
    width: 87%;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #3BACB6;
    font-size: 22px;
    outline: none;
}

