*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(bckgrnd.jpg);
    background-size: cover;
}

.card {
    width: 350px;
    margin-top: 130px;
	background-color: rgba(255, 255, 255, 0.336) ;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.card .card-title {
	margin-bottom: 30px;
}

.form-control {
	border-width: 2.3px;
}

.form-group label {
	width: 100%;
}

.btn.btn-block {
	padding: 12px 10px;
}

